main {
  position: relative;
  display: flex;
  background: #222831;
  flex-grow: 1;
  margin-top: 48px;
}

main > *:not(:first-child) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  width: 100%;
}

.clippedOverviewBrowse {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.clippedOverviewSearch {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.contentBackdrop {
  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.whiteSVG {
  filter: invert(98%) sepia(15%) saturate(149%) hue-rotate(84deg)
    brightness(113%) contrast(100%);
}

.selectedSVG {
  filter: invert(70%) sepia(13%) saturate(716%) hue-rotate(135deg)
    brightness(88%) contrast(95%);
}

@keyframes colorShiftIn {
  from {
    color: #eeeeee;
  }
  to {
    color: #76abae;
  }
}

@keyframes colorShiftOut {
  from {
    color: #76abae;
  }
  to {
    color: #eeeeee;
  }
}

.sectionSelected {
  animation: colorShiftIn 300ms ease-in forwards;
}

.sectionNotSelected {
  animation: colorShiftOut 200ms ease-in forwards;
}

@keyframes filterShiftIn {
  from {
    color: black;
  }
  to {
    color: #76abae;
  }
}

@keyframes filterShiftOut {
  from {
    color: #76abae;
  }
  to {
    color: black;
  }
}

.filterSelected {
  animation: filterShiftIn 300ms ease-in forwards;
}

.filterNotSelected {
  animation: filterShiftOut 200ms ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 400ms ease-in forwards;
}

/* Hamburger menu */

.hamburgerMenu {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.hamburgerMenu span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburgerMenu span:nth-child(1) {
  top: 0px;
}

.hamburgerMenu span:nth-child(2),
.hamburgerMenu span:nth-child(3) {
  top: 18px;
}

.hamburgerMenu span:nth-child(4) {
  top: 36px;
}

.hamburgerMenu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.hamburgerMenu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburgerMenu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburgerMenu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Side bar */

.sideBar {
  position: fixed;
  top: 48px;
  left: 0;
  z-index: 11;
  transition: all 0.3s ease-in-out;
  transform: translateX(-100%);
  width: 200px;
  height: 100%;
  text-wrap: nowrap;
}

.sideBar.open {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .sideBar {
    transform: translateX(0);
  }

  .hamburgerMenu {
    display: none;
  }

  main > *:not(:first-child) {
    margin-left: 200px;
    width: auto;
    flex-grow: 1;
  }
}
